@page {
    margin-left: 0.2cm;
    margin-right: 0.2cm;
    margin-top: 0.2cm;
    margin-bottom: 0.2cm;
}


.patient-info-fixed-postion-container{
    display:none;
}

.hidden-print{
 display:none;
}

.footer-note{display:none;}

#Lab-Results > div > investigation-results > investigation-table{
display:none;
}
