@charset "UTF-8";
pre {
  white-space: pre-wrap;
}

/** Start: Doesn't work on Chrome **/

thead{
  display:table-header-group;/*repeat table headers on each page*/
}
tbody{
  display:table-row-group;
}
tfoot{
  display:table-footer-group;/*repeat table footers on each page*/
}

tr {
  page-break-inside:avoid;
}

/** End: Doesn't work on Chrome **/

@page{
  margin-left: 0.2cm;
  margin-right: 0.2cm;
  margin-top: 0.2cm;
  margin-bottom: 0.2cm;
}

body, pre {
  font-family: "OpenSans", arial, sans-serif;
}

.row {
	width: 100%;
    clear: both;
    overflow: auto;
    display: block;
}
.left {
    width: 50%;
    float: left;
    display: block;
}
.right {
    width: 50%;
    float: right;
    display: block;
}
.left span, .right span, .label {
	white-space: nowrap;
}
.label {
    font-weight: bold;
    display: inline-block;
    float: left;
    margin-right: 5px;
}

