<html>

<head>
    <link rel="stylesheet" href="/bahmni_config/openmrs/apps/customDisplayControl/css/custom-display.css" />
    <link rel="stylesheet" href="/bahmni_config/openmrs/apps/customDisplayControl/css/print/clinical-infoTB-print.css" media="print" />
</head>

<body>
    <div class="clinical-info-tb print-body">
        <header class="header-page">
            <h2 class="clinical-header">
              <span>Regional Medical Research Centre for Tribes</span>
                Dept of Microbiology
          </h2>
            <h2 class="title-case">Clinical Information Form For Tb Patients</h2>
        </header>
        <div class="clinical-content clearfix">
            <div class="fl clinical-content-left">
                <span>Name of the Microscopy Center: <strong>Jan Swasthya Sahyog</strong </span>
                <h2 class="clinical-identification">A. IDENTIFICATION OF THE PATIENT</h2>
                <span>Name : <strong>{{patient.name}} ({{patient.identifier}})</strong> <span class="space"><input type="checkbox" ng-checked="patient.class.value.display=='ST'">Tribes/<input type="checkbox" ng-checked="patient.class.value.display!='ST'">Non Tribes </span></span>
                
            </div>
            <div class="micrology fr">
                <h2>Microbiology test requirement</h2>
                <ol class="micro">
                    <li>CBNAAT / LJ : <strong>{{rmrctForm['Test']}}</strong> </li>
                    <li>Sample Type : <strong>{{rmrctForm["Type of Sample"].replace('Other','')}}</strong></li>
                </ol>
            </div>
        </div>
        <div class="clinical-content-below">
        	
            <span>Permanent address with land marks : {{patient.address.address1}} {{patient.address.address2}}  {{patient.address.cityVillage}}, {{patient.address.address3}}, {{patient.address.countyDistrict}}, {{patient.address.stateProvince}} </span>
            <span>Gender : <input type="checkbox" ng-checked="patient.gender=='M'"> Male <input type="checkbox" ng-checked="patient.gender=='F'"> Female<span class="space">  Age : {{patient.age}} Years </span></span>
        </div>
        <br>
        <h2 class="clinical-left">Results of First two smears at the MC :</h2>
        <table class="result">
            <tr>
                <th>Sr.No</th>
                <th>Lab No</th>
                <th>Result</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <br>
        <div>
            <h2 class="clinical-left"> B. HISTORY GIVEN BY THE PATIENT</h2>
            <span>Previously Treated for TB ? <input type="checkbox" ng-checked="rmrctForm['Previsiosly treated with TB']=='No'"> No 
                                  <input type="checkbox" ng-checked="rmrctForm['Previsiosly treated with TB']=='Yes'">Yes 
 </span>
            <h2 class="clinical-left">Standardized History</h2>
            <ul class="unordered">
                <li>For how long have you been sick ? {{rmrctForm["How long have you been sick ?"]}}</li>
                <li>Symptoms: {{rmrctForm["Symptoms"]}}</li>
                <li>Did you have other symptoms of lung disease prior to this episode (haemoptysis,chest pain ,cough) ? {{rmrctForm["Did you have other symptoms of lung diseases prior to this episode"]}}
                </li>
                <li>Did you have x-ray examinations prior to this episode ? {{rmrctForm["Did you have X-ray Examination Prior to this episode ?"]}}</li>
                <li>Did you have Sputum examinations prior to this episode ? {{rmrctForm['Did you have Sputum examinations prior to this episode ?']}}</li>
                <li>Did you ever take tuberculosis drugs for more than one month ? {{rmrctForm['Did you ever take tuberculosis drugs for more than one month ?']}}</li>
            </ul>
            <h2 class="clinical-left">If treatment taken</h2>
            <ul class="unordered">
                <li>Where was the patient treated ? {{rmrctForm['Where was the patient treated ?']}}</li>
                <li>When was the patient treated ? {{rmrctForm['When was the patient treated ?']}}</li>
                <li>How many times was the patient treated ? {{rmrctForm['How many times was the patient treated ?']}}</li>
                <li>If Dots taken : Category {{rmrctForm['If Dots taken : Category']}}</li>
                <li>What were the drugs taken by the patient ? {{rmrctForm['Drugs used in his treatment']}} </li>
            </ul>
            <br>
            <br>
            <div class="clinical-footer">
            	<span class"fl">Signature :{{observations.providers[0].name}} </span> <span class="fr">Date : {{date | date:'dd-MM-yyyy'}}</span>
        	</div>
        </div>
    </div>
</body>

</html>