<html>
<head>
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/customDisplayControl/css/custom-display.css" />
</head>
<body>
<div>
<center><span class="custom-print-center"><h2><strong>Jan Swasthya Sahyog </h2></strong><span><br>
<center><span class="custom-print-center">(People Health Support Group) <span><br>
<span class="header-pdhinduja custom-print-center"> Registration in Delhi under the Indian Societies Act. 1980(S-30035/96) </span></center>
</div><br><br>
<div class="print-body">
	<div>
        <span>To,</span>
        <span>Dr.Camilla Rodrigues</span>
        <span>Consultant Microbiologist</span>
        <span>PD Hinduja National Hospital and Medical Research Center</span>
        <span>Veer Savarkar Marg,Mahim,Mumbai-400016   <span class="fr">Date : {{curDate | bahmniDateTime}}<span>
    </div> 
    <br><br>
    <div>        
        <span>Dear Madam,</span>
        <span>We are Referring a sputum sample from <strong>Shri/ Smt.</strong> {{patient.name}} ({{patient.identifier}}) <strong>age</strong> {{patient.age}} years,a patient of smear positive/negative pulmonary tuberculosis.</span>
    </div>
    <br><br>
    <div>
        <span>The patient's treatment history is as follows:</span>
        <span><strong>Never treated <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='Never treated'"> 
        / On treatment since <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='On treatment'">
        __________ / Compleated treatment on <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='Completed treatment'">
        _________/</span>
        <span>stopped treatment prematurely after 
        <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='Stopped Treatment'">
         months on _____________________</span></strong>
    </div>
    <br>
	<div>
        <span>The drugs used in his treatment are follows:</span>
        <span>
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, INH') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, INH')!= -1" ng-disabled="!(observations.valueAsString.indexOf('Drugs used in his treatment, INH') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, INH')!= -1)"> ] INH        
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, RIF') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, RIF')!= -1" ng-disabled="!(observations.valueAsString.indexOf('Drugs used in his treatment, RIF') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, RIF')!= -1)"> ] RIF    
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, INH') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, EMB')!= -1" ng-disabled="!checked"> ] EMB        
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, PZA') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, PZA')!= -1"> ] PZA      
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, SM') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, SM')!= -1"> ] SM 
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, KAN') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, KAN')!= -1"> ] KAN  
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, AMK') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, AMK')!= -1"> ] AMK 
        </span>
        <span>
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Ethionamide') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Ethionamide')!= -1"> ] Ethionamide  
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Ciproflox') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Ciproflox')!= -1"> ] Ciproflox  
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Oflox') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Oflox')!= -1">] Oflox   
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Levoflox') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Levoflox')!= -1"> ] Levoflox  
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Moxiflox / Gatiflox') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Moxiflox / Gatiflox')!= -1"> ] Moxiflox / Gatiflox 
        </span>
        <span>
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, PAS') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, PAS')!= -1"> ] PAS     
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Cycloserine') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Cycloserine')!= -1"> ] Cycloserine 
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Unknown') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Unknown')!= -1"> ] Unknown         
          [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Others (specify)') != undefined && observations.valueAsString.indexOf('Drugs used in his treatment, Others (specify)')!= -1"> ] Others (specify) 
        </span>
    </div>
    <br><br>
    <div>
     <span>We request you to do the following tests On the Sample</span>
        <ol type="A">
          <li>[ ] Culture for Mycobacteria by MGIT</li>
          <li> Susceptibility testing of M. tuberculosis
              <span>
                [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Pyrazinamide By MGIT') != undefined && observations.valueAsString.indexOf('Susceptibility testing, Pyrazinamide By MGIT')!= -1"> ] Streptomycin, INH,RIF & EMB (SIRE) By BACTEC
              </span>
              <span>
                [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Moxifloxacin,Amikacin,Capreomycin,Clofazimine By BACTEC') != undefined && observations.valueAsString.indexOf('Susceptibility testing, Moxifloxacin,Amikacin,Capreomycin,Clofazimine By BACTEC')!= -1"> ] Kanamycin,Ethionamide,PAS,Ofloxacine(KEPO)By BACTEC
              </span>
              <span>
                [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Streptomycin, INH,RIF & EMB (SIRE) By BACTEC') != undefined && observations.valueAsString.indexOf('Susceptibility testing, Streptomycin, INH,RIF & EMB (SIRE) By BACTEC')!= -1"> ] Moxifloxacin,Amikacin,Capreomycin,Clofazimine By BACTEC
              </span> 
              <span>
                [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Kanamycin,Ethionamide,PAS,Ofloxacine(KEPO)By BACTEC') !=undefined && observations.valueAsString.indexOf('Susceptibility testing, Kanamycin,Ethionamide,PAS,Ofloxacine(KEPO)By BACTEC') != -1"> ] Pyrazinamide By MGIT
              </span>
          </li>
        </ol>
    </div>
    <br><br>
   <div>
      <span>We Would appreciate it if you could please send the report by </span>
      <span><strong>Post to.</strong> C/o Rajesh Sharma,Jan Swwasthya Sahyog, I-4,Parijat Colony,Nehru Nager,Bilaspur-495 001,Chhattisgarh</span>
      <span><strong>or E-mail to jss.laboratory@gmail.com</strong></span>
   </div>
   <br><br>
   <div>
      <span>Yours sincerely</span>
    </div>
    <br>
    
<div class="footer-pdhinduja">
    <span><strong>Health Center</strong> : Ganiyari Village & PO Bilaspur District , Chattisgarh 495112, India Ph: +91-7753-244819 </span>
    <span><strong>Office </strong>      : I-4 , Parijat Colony, Nehru Nagar, Bilaspur-495001, Chattisgarh, India Ph: +91-7752-270966</span>
    <span><strong>E-mail</strong>        : <a href="mailto:janswashtya@gmail.com">janswashtya@gmail.com</a>,  <a href="mailto:jss.ganiyari@rediffmail.com">jss.ganiyari@rediffmail.com</a><strong> Website:</strong><a href="www.jssbilaspur.org" target="_blank">www.jssbilaspur.org</a></span>
</div>
    
</div>
</body>
</html>

