<html><br><br><br>


<p><kbd>To,</kbd></p>
<p><kbd>Dr.Camilla Rodrigues</kbd></p>
<p><kbd>Consultant Microbiologist</kbd></p>
<p><kbd>PD Hinduja National Hospital and Medical Research Center</kbd></p>
<p><kbd>Veer Savarkar Marg,Mahim,Mumbai-400016   Date:.../.../....</kdb></p>
            
<p><kbd>Dear Madam,</kbd></p>
<p><kbd>We are Referring a sputum sample from Shri/ Smt.{{patient.name}}</kbd></p>
<p><kbd>age {{patient.age}} years,a patient of smear positive/negative pulmonary tuberculosis.     </kbd></p>

<p><kbd>The patient's treatment history is as follows:</kbd></p>
<p><kbd>Never treated <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='Never treated'"> 
        / On treatment since <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='On treatment'">
        __________ / Compleated treatment on <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='Completed treatment'">
        _________/</kbd></p>
        <p><kbd>
        stopped treatment prematurely after 
        <input type="checkbox" ng-checked="observations.groupMembers[0].valueAsString=='Stopped Treatment'">
         months on _____________________</kbd></p>
         <br><br><br>


<p><kbd>The drugs used in his treatment are follows:</kbd></p>
 
<p><kbd>[<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, INH')!= -1"> ] INH        
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, RIF')!= -1"> ] RIF    
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, EMB')!= -1"> ] EMB        
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, PZA')!= -1"> ] PZA      
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, SM')!= -1"> ] SM 
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, KAN')!= -1"> ] KAN  
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, AMK')!= -1"> ] AMK 
</kbd></p>

<p><kbd>[<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Ethionamide')!= -1"> ] Ethionamide  
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Ciproflox')!= -1"> ] Ciproflox  
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Oflox')!= -1">] Oflox   
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Levoflox')!= -1"> ] Levoflox  
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Moxiflox / Gatiflox')!= -1"> ] Moxiflox / Gatiflox 
</kbd></p>
    
<p><kbd>[<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, PAS')!= -1"> ] PAS     
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Cycloserine')!= -1"> ] Cycloserine 
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Unknown')!= -1"> ] Unknown         
        [<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Drugs used in his treatment, Others (specify)')!= -1"> ] Others (specify) </kbd></p>

<p><kbd>We request you to do the following tests On the Sample</kbd></p>
<br><br><br>


<ol type="A">
  <li>[ ] Culture for Mycobacteria by MGIT</li>
  <br>
  
     Susceptibility testing of M. tuberculosis</li>
  <li>[<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Pyrazinamide By MGIT')!= -1"> ] Streptomycin, INH,RIF & EMB (SIRE) By BACTEC</li>
  <li>[<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Moxifloxacin,Amikacin,Capreomycin,Clofazimine By BACTEC')!= -1"> ] Kanamycin,Ethionamide,PAS,Ofloxacine(KEPO)By BACTEC</li>
  <li>[<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Streptomycin, INH,RIF & EMB (SIRE) By BACTEC')!= -1"> ] Moxifloxacin,Amikacin,Capreomycin,Clofazimine By BACTEC</li> 
  <li>[<input type="checkbox" ng-checked="observations.valueAsString.indexOf('Susceptibility testing, Kanamycin,Ethionamide,PAS,Ofloxacine(KEPO)By BACTEC')!= -1"> ] Pyrazinamide By MGIT</li>
</ol>
<br><br><br>

<p><kbd>We Would appreciate it if you could please send the report by </kbd></p> 


<p><kbd>Post to.  C/o Rajesh Sharma,Jan Swwasthya Sahyog, I-4,Parijat Colony,Nehru Nager,Bilaspur-495 001, Chhattisgarh</kbd></p>
 
<p><kbd>or E-mail to jss.laboratory@gmail.com</kbd></p>



<p><kbd>Yours sincerely</kbd></p>


</body>
</html>

