<html>

<head>
    <title></title>
    <link rel="stylesheet" href="/bahmni_config/openmrs/apps/customDisplayControl/css/display/clinical-rntcp-display.css" />
    <link rel="stylesheet" href="/bahmni_config/openmrs/apps/customDisplayControl/css/print/clinical-rntcp-print.css" media="print" />
</head>

<body>
    <div class="culture-form-wrapper clearfix">
        <div class="page-title">
            <span class="title text-center">RNTCP Request for Culture and Drug Sensitivity Testing</span>
            <span class="sub-title text-center">(Required for Culture and DST laboratory to Conduct testing, please send copy to District TB Officer)</span>
        </div>
        <div class="col-2">
            <div class="container patient-info ">
                <table>
                    <tbody>
                        <tr class="bottom-padding">
                            <td colspan="4" class="text-center">
                                <span>Patient Information:<strong>{{patient.identifier}}</strong></span>
                            </td>
                        </tr>
                        <tr class="bottom-padding">
                            <td colspan="2">Patient Name:</td>
                            <td colspan="2"><strong>{{patient.name}}</strong></td>
                        </tr>
                        <tr class="bottom-padding">
                            <td colspan="2">Patient Address with
                                <br />Landmark:</td>
                            <td colspan="2">{{patient.address.address1}} {{patient.address.address2}} {{patient.address.address3}} {{patient.address.cityVillage}} {{patient.address.cityVillage}} {{patient.address.stateProvince}}</td>
                        </tr>
                        <tr class="bottom-padding">
                            <td colspan="2">Patient Mobile No. or
                                <br /> other contact No. :</td>
                            <td colspan="2">{{patient.primaryContact.value}}</td>
                        </tr>
                        <tr class="bottom-padding">
                            <td>Age : </td>
                            <td>{{patient.age}}</td>
                            <td colspan="2">Sex :  Male<input type="checkbox" ng-checked="patient.gender=='M'"> Female
                                <input type="checkbox" ng-checked="patient.gender=='F'"></td>
                        </tr>
                        <tr class="bottom-padding">
                            <td colspan="2">Sputum: Date of Collection
                                <br /> (DD/MM/YY)
                                <br>
                            </td>
                            <td colspan="2">
                                Sample 1 : ___________________(DD/MM/YY)
                                <br> Sample 2 : ___________________(DD/MM/YY)
                            </td>
                        </tr>
                        <tr class="bottom-padding">
                            <td colspan="4">
                                Name referring facility
                                <br /> (PHI/DMC/DR-TB
                                <br /> Center/other) : <strong>Jan Swasthya Sahyog</strong>
                                <br /> District : Bilaspur
                                <br /> Tuberculosis Unit(TU) : 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container testing-info">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="8" class="text-center">Reason for testing</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="text-center"><input type="checkbox">DIAGNOSIS</td>
                            <td colspan="4" class="text-center"><input type="checkbox">FOLLOW-UP</td>
                        </tr>
                        <tr>
                            <td colspan="4" rowspan="2">
                                MDR Suspect Criteria
                                <br />
                                <ul>
                                    <li>
                                        <input type="checkbox" ng-checked="rntcpform['Failure']=='Yes'">Failure</li>
                                    <li>
                                        <input type="checkbox" ng-checked="rntcpform['re-treatment case S-at 4th month']=='Yes'">re-treatment case S-at 4th month</li>
                                    <li>
                                        <input type="checkbox" ng-checked="rntcpform['Contact for known MDR TB case']=='Yes'">Contact for known MDR TB case</li>
                                    <li>
                                        <input type="checkbox" ng-checked="rntcpform['S+at diagnosis.re-reatment case']=='Yes'">S+at diagnosis.re-reatment case</li>
                                    <li>
                                        <input type="checkbox" ng-checked="rntcpform['Any follow up S+']=='Yes'">Any follow up S+</li>
                                    <li>
                                        <input type="checkbox" ng-checked="rntcpform['S-at diagnosis.re-reatment case']=='Yes'">S-at diagnosis.re-reatment case</li>
                                    <li>
                                        <input type="checkbox" ng-checked="rntcpform['HIV TB Case']=='Yes'">HIV TB Case</li>
                                </ul>
                            </td>
                            <td colspan="4" rowspan="0">PMDT Registration Number : </td>
                        </tr>
                        <tr>
                            <td colspan="4" rowspan="0">Treatment month of follow-up</td>
                        </tr>
                        <tr>
                            <td colspan="4">RNTCP TB Reg. No. and Type
                                <br /> (or
                                <input type="checkbox" />Not Applicable)</td>
                            <td colspan="4">DR-TB Center Name</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-2">
            <div class="container tb-result">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="5" class="text-center">Molecular TB/DST result</td>
                        </tr>
                        <tr>
                            <td>Test : </td>
                            <td colspan="2">
                                <input type="checkbox" /> Line probe Assay (LPA)</td>
                            <td colspan="2">
                                <input type="checkbox" /> CBNAAT</td>
                        </tr>
                        <tr>
                            <td>Test Validity :</td>
                            <td colspan="2">
                                <input type="checkbox" /> Valid</td>
                            <td colspan="2">
                                <input type="checkbox" /> Invalid</td>
                        </tr>
                        <tr>
                            <td>M. Tuberculosis :</td>
                            <td colspan="2">
                                <input type="checkbox" /> Detected</td>
                            <td colspan="2">
                                <input type="checkbox" /> Not Detected</td>
                        </tr>
                        <tr>
                            <td>Rifampicin :</td>
                            <td>
                                <input type="checkbox" /> Resistant</td>
                            <td>
                                <input type="checkbox" /> Sensitive</td>
                            <td colspan="2">
                                <input type="checkbox" /> Not Available</td>
                        </tr>
                        <tr>
                            <td>Isoniazid :</td>
                            <td>
                                <input type="checkbox" /> Resistant</td>
                            <td>
                                <input type="checkbox" /> Sensitive</td>
                            <td colspan="2">
                                <input type="checkbox" /> Not Available</td>
                        </tr>
                        <tr>
                            <td>Notes:</td>
                            <td colspan="4"></td>
                        </tr>
                        <tr>
                            <td>Date :</td>
                            <td></td>
                            <td colspan="2">Reported By (Name &amp; Signature)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="5">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container lj-liquid-result">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="11" class="text-center">Lj/Liquid Culture results</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="dateRecived">Date <br/> Received :</td>
                            <td rowspan="2" class="rotate specimen">Specimen</td>
                            <td rowspan="2" class="rotate specimenNO">Specimen No:</td>
                            <td rowspan="2">Smear
                                <br /> Result</td>
                            <td colspan="7">Culture result* (check one)</td>
                        </tr>
                        <tr>
                            <td class="custom-width">Neg</td>
                            <td class="custom-width">Pos</td>
                            <td class="custom-width">1-19
                                <br />Col</td>
                            <td class="custom-width">+</td>
                            <td class="custom-width">+
                                <br /> +</td>
                            <td class="custom-width">+
                                <br /> +
                                <br /> +</td>
                            <td class="custom-width">Contaminated
                                <br /> / Other result</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>A</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>B</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td colspan="11">Notes : </td>
                        </tr>
                        <tr>
                            <td colspan="5">Result Date : <br> <br> </td>
                            <td colspan="6">Reported By (Name &amp; Signature) :  <br> <br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="container lj-exception">
                <table>
                    <tbody>
                        <tr>
                            <td colspan="11" class="text-center">Lj/Liquid Culture results :(NOt : 'S' if susceptible, 'R' if resistant)</td>
                        </tr>
                        <tr>
                            <td text-center>Date DST
                                <br />Initiated</td>
                            <td class="text-center specimen">Specimen No</td>
                            <td class="custom-width">S</td>
                            <td class="custom-width">H</td>
                            <td class="custom-width">R</td>
                            <td class="custom-width">E</td>
                            <td class="custom-width">Z</td>
                            <td class="custom-width">K <br />m</td>
                            <td class="custom-width">Of <br />x</td>
                            <td class="custom-width">Eto</td>
                            <td class="custom-width">Other</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="1">Result Date <br> <br></td>
                            <td colspan="10">Reported By (Name &amp; Signature) <br> <br></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</body>

</html>